rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /campaigns/{campaignId} {
      allow read: true;
      allow write: true;
    }
    match /stories/{storyId} {
      allow read: true;
      allow write: true;
    }
    match /donations/{donationId} {
      allow read: true;
      allow write: true;
    }
    match /volunteers/{volunteerId} {
      allow read: true;
      allow write: true;
    }
  }
}